
<app-header>
</app-header>




<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{products[0].id}}</th>
        <td>{{products[0].name}}</td>
        <td>{{products[0].price}}</td>
    
      </tr>
      <tr>
        <th scope="row">{{products[1].id}}</th>
        <td>{{products[1].name}}</td>
        <td>{{products[1].price}}</td>
      </tr>
      <tr>
        <th scope="row">{{products[2].id}}</th>
        <td>{{products[2].name}}</td>
        <td>{{products[2].price}}</td>
      </tr>

      <tr>
        <th scope="row">{{products[3].id}}</th>
        <td>{{products[3].name}}</td>
        <td>{{products[3].price}}</td>
      </tr>

    </tbody>
  </table>


<app-footer>
</app-footer>
