body {
  padding-top: 100px;
  padding-bottom: 50px;
  height:670px;
  background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bts
{
  margin-top: 2px;
  margin-left:140px;

}
.btl
{
  margin-left:150px;

}
.btfp
{
  margin-top: 4px;
  margin-left:100px;

}

a
{
  color: white;
}
#forgetp
{
  margin-top: 4px;
margin-left:120px;
}
#signup
{
  margin-top: 4px;
  margin-left:150px;

}