
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-12">
        <img src="../../assets/ly5010-8-layasa-maron-original-imaff72b7thzfecq.jpeg" alt="loading.." class="img-thumbnail">
        <h3>shoes</h3>
      </div>
      <div class=" col-lg-3 col-md-3 col-sm-3 col-12">
        <img src="../../assets/z-rockerz-255-boat-original-imaf8pudy3ebmssn.jpeg" alt="loading.." class="img-thumbnail">
        <h3>Headphone</h3>
      </div>
      <div class=" col-lg-3 col-md-3 col-sm-3 col-12">
        <img src="../../assets/1000-tattva-copper-bottle-tcb-02-tcb-02-prestige-original-imafbu4n7hnrrsas.jpeg" alt="loading.." class="img-thumbnail">
        <h3>Bottle</h3>
      </div>
      <div class=" col-lg-3  col-md-3 col-sm-3 col-12">
        <img src="../../assets/216b07dca88dc6b7.png" alt="loading.." class="img-thumbnail">
        <h3>safari bag</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <img src="../../assets/p1.jpeg" alt="loading.." class="img-thumbnail">
        <h3>i phone 1</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/p1.jpeg" alt="loading.." class="img-thumbnail">
        <h3>i phone 2</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/p1.jpeg" alt="loading.." class="img-thumbnail">
        <h3>i phone 3</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/iphone-11-64-a-mwlx2hn-a-apple-0-original-imafkg24ymsjav9h.jpeg" alt="loading.." class="img-thumbnail">
        <h3>i phone 11</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <img src="../../assets/iphonesilver.jpeg" alt="loading.." class="img-thumbnail">
        <h3>i phone 11 </h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/iphonered.jpeg" alt="loading.." class="img-thumbnail">
        <h3>i phone 11,red</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/iphonexr.jpeg" alt="loading.." class="img-thumbnail">
        <h3>i phone xr</h3>
      </div>


      <div class="col-sm">
        <img src="../../assets/iphonesilver.jpeg" alt="loading.." class="img-thumbnail">
        <h3>i phone xr</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img src="../../assets/watch.jpeg" alt="loading.." class="img-thumbnail">
        <h3>watch</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/woodland.jpeg" alt="loading.." class="img-thumbnail">
        <h3>woodland</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/relme51.jpeg" alt="loading.." class="img-thumbnail">
        <h3>realme5</h3>
      </div>
      <div class="col-sm">
        <img src="../../assets/vivo.jpeg" alt="loading.." class="img-thumbnail">
        <h3>vivo</h3>
      </div>
    </div>
  </div>
</section>
