
<html>
<head>
  <title>

  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form class="form-signin"   [formGroup]='signup' (ngSubmit)="formstoreusers(signup)">
              <div class="form-label-group">
                <input type="text" id="inputfirstname"  formControlName="user_name"  [ngClass]="{'is-invalid':signup.get('user_name').touched && signup.get('user_name').invalid}" class="form-control" placeholder="User Name" class="form-control">
              <div  *ngIf="signup.get('user_name').touched && signup.get('user_name').invalid"   class="invalid-feedback">
                <div *ngIf="signup.get('user_name').errors.required">first Name is required</div>
                <div *ngIf="signup.get('user_name').errors.minlength">first Name shuld be atleat 3 char</div>
              </div>
              </div>
               <br>

    

              <div class="form-label-group">
                <input type="text" id="inputEmail"  formControlName="user_email"  [ngClass]="{'is-invalid':signup.get('user_email').touched && signup.get('user_email').invalid}"   class="form-control"      placeholder="Email address">
                <div   *ngIf="signup.get('user_email').touched && signup.get('user_email').invalid"    class="invalid-feedback">
                  <div  *ngIf="signup.get('user_email').errors.required" >email Name is required</div>
                  <div  *ngIf="signup.get('user_email').errors.email" >email is not valid</div>
              </div>
              </div>
              <br>

              <div class="form-label-group">
                <input type="password" id="inputPassword" formControlName="user_password"      [ngClass]="{'is-invalid':signup.get('user_password').touched && signup.get('user_password').invalid}" class="form-control" placeholder="Password" >
               <div  *ngIf="signup.get('user_password').touched && signup.get('user_password').invalid" class="invalid-feedback">
                <div  *ngIf="signup.get('user_password').errors.required" >password  is required</div>
                <div  *ngIf="signup.get('user_password').errors.minlength" >password is of atleat 5</div>
              </div>
          </div>
             <br>
             <input type="submit" value="submit" >
              <hr class="my-4">


            </form>
            <button class="btn btn-primary" routerLink="/login">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

